extends layout

block content
  .fakeloader
  #fullpage
    .section#section0
      #heart
    .section#section1
      p 我们已经一起走过了
        br
        span
    .section#section2
      - var meetings = 5;
      - for(var i = 0; i < meetings; i++) {
          .slide(id='slide#{i}')
            h1.date
            #mapContainer
              h2 Slider#{i}
            p.description
      - }
    .section#section3
      #photowrapper
        header
          h1 纪念册
          span 这些照片里都有我们共同的回忆
        .iw_wrapper
          ul#iw_thumbs.iw_thumbs
            - for(var i = 0; i < 20; i++) {
              li
                img(src='/images/1t.jpg', data-img='/images/1f.jpg', alt='Thumb1')
                div
                  h2 Description Heading
                  p Some description text...
            - }
        #iw_ribbon.iw_ribbon
          span.iw_close
          span.iw_zoom 点击查看大图
    .section#section4
      div.ds-thread(data-thread-key='comment', data-title='留言板', data-url='http://iloverollo.com')
      footer
        | Copyright &copy; 2015 
        | Designed by 
        a(href='http://www.hantq.com') hantq
  // if IE
    script(src="http://static.wdjimg.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  script(src="http://static.wdjimg.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/javascripts/fakeLoader.min.js")
  script.
    $(".fakeloader").fakeLoader({
      timeToHide: 3000
    });
  script(src="http://static.wdjimg.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
  script(src="http://static.wdjimg.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js")
  script(src="http://static.wdjimg.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js")
  script(src="/javascripts/jquery.fullPage.js")
  script(src="http://static.wdjimg.com/ajax/libs/underscore.js/1.8.2/underscore-min.js")
  script.
    var duoshuoQuery = {short_name: 'iloverollo'};
    $(function() {
      $('#fullpage').fullpage({
        sectionsColor: ['#eae1c0', '#4bbfc3', '#8fb98b', '#de564b', '#e5e6d0'],
        css3: true,
        scrollOverflow: true,
        navigation: true,
        navigationTooltips: ['正如初次见到你那样的心跳', '我们共同走过的时间',
          '我们一起去过的地方', '我们留下的那些回忆', '来给我们留言吧'],
        slidesNavigation: true,
        slidesNavTooltips: ['2014/11/16', '2014/12/07', '2014/12/13', '2014/12/14', '2014/12/31']
      });
    });
  script(src="http://webapi.amap.com/maps?v=1.3&key=ae7a89e6ca3c29222de25e0f510b34eb")
  script(src="http://static.wdjimg.com/ajax/libs/three.js/r70/three.min.js")
  script(src="/javascripts/Projector.js")
  script(src="/javascripts/CanvasRenderer.js")
  script(src="/javascripts/tween.min.js")
  script(src="/javascripts/Sparks.js")
  script(src="/javascripts/helvetiker_regular.typeface.js")
  script(src="http://static.wdjimg.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js")
  script(src="/javascripts/main.js")
  script.
    $(window).load(function() {
      var $iw_thumbs = $('#iw_thumbs'),
          $iw_ribbon = $('#iw_ribbon'),
          $iw_ribbon_close = $iw_ribbon.children('span.iw_close'),
          $iw_ribbon_zoom = $iw_ribbon.children('span.iw_zoom');
      
      ImageWall	= (function() {
          var w_dim,
            current = -1,
            isRibbonShown = false,
            isFullMode = false,
            ribbonAnim = {speed : 500, easing : 'easeOutExpo'},
            imgAnim = {speed : 400, easing : 'swing'},

            init = function() {
              $iw_thumbs.imagesLoaded(function() {
                $iw_thumbs.masonry({
                  isAnimated: true
                });
              });
              getWindowsDim();
              initEventsHandler();
            },
            getWindowsDim = function() {
              w_dim = {
                width	: $(window).width(),
                height	: $(window).height()
              };
            },
            initEventsHandler	= function() {
              $iw_thumbs.delegate('li', 'click', function() {
                if($iw_ribbon.is(':animated'))
                  return false;
                var $el = $(this);
                if($el.data('ribbon')) {
                  showFullImage($el);
                }
                else if(!isRibbonShown) {
                  isRibbonShown = true;
                  $el.data('ribbon',true);
                  current = $el.index();
                  showRibbon($el);
                }
              });
              
              $iw_ribbon_close.bind('click', closeRibbon);
              
              $(window).bind('resize', function() {
                    getWindowsDim();
                    if($iw_ribbon.is(':animated'))
                      return false;
                    closeRibbon();
                   }).bind('scroll', function() {
                    if($iw_ribbon.is(':animated'))
                      return false;
                    closeRibbon();
                   });
              
            },
            showRibbon = function($el) {
              var	$img = $el.children('img'),
                $descrp	= $img.next();
              
              // fadeOut all the other images
              $iw_thumbs.children('li').not($el).animate({opacity : 0.2}, imgAnim.speed);
              
              // increase the image z-index, and set the height to 100px (default height)
              $img.css('z-index', 100)
                .data('originalHeight',$img.height())
                .stop()
                .animate({
                  height : '100px'
                }, imgAnim.speed, imgAnim.easing);
              
              // the ribbon will animate from the left or right
              // depending on the position of the image
              var ribbonCssParam = {
                  top	: $el.offset().top - $(window).scrollTop() - 6 + 'px'
                },
                descriptionCssParam,
                dir;
              
              if($el.offset().left < (w_dim.width / 2)) {
                dir = 'left';
                ribbonCssParam.left = 0;
                ribbonCssParam.right = 'auto';
              }
              else {
                dir = 'right';
                ribbonCssParam.right = 0;
                ribbonCssParam.left = 'auto';
              }
              
              $iw_ribbon.css(ribbonCssParam)
                    .show()
                    .stop()
                    .animate({width : '100%'}, ribbonAnim.speed, ribbonAnim.easing, function() {
                      switch(dir) {
                        case 'left':
                          descriptionCssParam	= {
                            'left': $img.outerWidth(true) + 'px',
                            'text-align': 'left'
                          };
                          break;
                        case 'right' :	
                          descriptionCssParam	= {
                            'left': '-200px',
                            'text-align': 'right'
                          };
                          break;
                      };
                      $descrp.css(descriptionCssParam).fadeIn();
                      $iw_ribbon_close.show();
                      $iw_ribbon_zoom.show();
                    });
            },
            closeRibbon = function() {
              isRibbonShown = false;
              
              $iw_ribbon_close.hide();
              $iw_ribbon_zoom.hide();
              
              if(!isFullMode) {
              
                // current wall image
                var $el = $iw_thumbs.children('li').eq(current);
                
                resetWall($el);
                
                // slide out ribbon
                $iw_ribbon.stop()
                      .animate({width : '0%'}, ribbonAnim.speed, ribbonAnim.easing); 
                    
              }
              else {
                $iw_ribbon.stop().animate({
                  opacity		: 0.8,
                  height 		: '0px',
                  marginTop	: w_dim.height/2 + 'px'
                }, ribbonAnim.speed, function() {
                  $iw_ribbon.css({
                    'width'		: '0%',
                    'height'	: '126px',
                    'margin-top': '0px'
                  }).children('img').remove();
                });
                
                isFullMode	= false;
              }
            },
            resetWall			= function($el) {
              var $img		= $el.children('img'),
                $descrp		= $img.next();
                
              $el.data('ribbon',false);
              
              // reset the image z-index and height
              $img.css('z-index',1).stop().animate({
                height 		: $img.data('originalHeight')
              }, imgAnim.speed,imgAnim.easing);
              
              // fadeOut the description
              $descrp.fadeOut();

              // fadeIn all the other images
              $iw_thumbs.children('li').not($el).animate({opacity : 1}, imgAnim.speed);								
            },
            showFullImage		= function($el) {
              isFullMode	= true;
              
              $iw_ribbon_close.hide();
              
              var	$img	= $el.children('img'),
                large	= $img.data('img'),
              
                // add a loading image on top of the image
                $loading = $('<span class="iw_loading"></span>');
              
              $el.append($loading);
              
              // preload large image
              $('<img/>').load(function() {
                var $largeImage	= $(this);
                
                $loading.remove();
                
                $iw_ribbon_zoom.hide();
                
                resizeImage($largeImage);
                
                // reset the current image in the wall
                resetWall($el);
                
                // animate ribbon in and out
                $iw_ribbon.stop().animate({
                  opacity		: 1,
                  height 		: '0px',
                  marginTop	: '63px' // half of ribbons height
                }, ribbonAnim.speed, function() {
                  // add the large image to the DOM
                  $iw_ribbon.prepend($largeImage);
                  
                  $iw_ribbon_close.show();
                  
                  $iw_ribbon.animate({
                    height 		: '100%',
                    marginTop	: '0px',
                    top			: '0px'
                  }, ribbonAnim.speed);
                });
              }).attr('src',large);
                
            },
            resizeImage			= function($image) {
              var widthMargin		= 100,
                heightMargin 	= 100,
              
                windowH      	= w_dim.height - heightMargin,
                windowW      	= w_dim.width - widthMargin,
                theImage     	= new Image();
                
              theImage.src     	= $image.attr("src");
              
              var imgwidth     	= theImage.width,
                imgheight    	= theImage.height;

              if((imgwidth > windowW) || (imgheight > windowH)) {
                if(imgwidth > imgheight) {
                  var newwidth 	= windowW,
                    ratio 		= imgwidth / windowW,
                    newheight 	= imgheight / ratio;
                    
                  theImage.height = newheight;
                  theImage.width	= newwidth;
                  
                  if(newheight > windowH) {
                    var newnewheight 	= windowH,
                      newratio 		= newheight/windowH,
                      newnewwidth 	= newwidth/newratio;
                  
                    theImage.width 		= newnewwidth;
                    theImage.height		= newnewheight;
                  }
                }
                else {
                  var newheight 	= windowH,
                    ratio 		= imgheight / windowH,
                    newwidth 	= imgwidth / ratio;
                  
                  theImage.height = newheight;
                  theImage.width	= newwidth;
                  
                  if(newwidth > windowW) {
                    var newnewwidth 	= windowW,
                        newratio 		= newwidth/windowW,
                      newnewheight 	= newheight/newratio;
                
                    theImage.height 	= newnewheight;
                    theImage.width		= newnewwidth;
                  }
                }
              }
                
              $image.css({
                'width'			: theImage.width + 'px',
                'height'		: theImage.height + 'px',
                'margin-left'	: -theImage.width / 2 + 'px',
                'margin-top'	: -theImage.height / 2 + 'px'
              });							
            };
            
          return {init : init};	
        })();
      
      ImageWall.init();
    });
