extends layout

block content
  .fakeloader
  #fullpage
    .section#section0
      #heart
    .section#section1
      p 我们已经一起走过了
        br
        span
    .section#section2
      - for(var i = 0; i < 5; i++) {
          .slide(id='slide#{i}')
            .sliderwrapper
              h1.date
              .mapContainer(id='mapContainer#{i}')
              .tip
                input(type='button', value='开始我们的旅行吧')
                input(type='button', value='休息一下')
      - }
    .section#section3
      #photowrapper
        header
          h1 纪念册
          span 这些照片里都有我们共同的回忆
        .iw_wrapper
          ul#iw_thumbs.iw_thumbs
        #iw_ribbon.iw_ribbon
          span.iw_close
          span.iw_zoom 点击查看大图
    .section#section4
      div.ds-thread(data-thread-key='comment', data-title='留言板', data-url='http://iloverollo.com')
      footer
        | Copyright &copy; 2015 
        | Designed by 
        a(href='http://www.hantq.com') hantq
  // if IE
    script(src="http://static.wdjimg.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  script(src="http://static.wdjimg.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/fakeLoader.min.js")
  script.
    var duoshuoQuery = {short_name: 'iloverollo'};
    $(".fakeloader").fakeLoader({
      timeToHide: 5000
    });
  script(src="http://static.wdjimg.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
  script(src="http://static.wdjimg.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js")
  script(src="http://static.wdjimg.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/jquery.fullPage.js")
  script(src="http://static.wdjimg.com/ajax/libs/underscore.js/1.8.2/underscore-min.js")
  script(src="http://webapi.amap.com/maps?v=1.3&key=ae7a89e6ca3c29222de25e0f510b34eb")
  script(src="http://static.wdjimg.com/ajax/libs/three.js/r70/three.min.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/Projector.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/CanvasRenderer.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/tween.min.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/Sparks.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/helvetiker_regular.typeface.js")
  script(src="http://static.wdjimg.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/photo.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/travel.js")
  script(src="http://7vijjg.com1.z0.glb.clouddn.com/app.min.js")
