doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(name='author', content='hantq')
    meta(name='apple-mobile-web-app-title', content='Rollo')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='default')
    title 敬敬和我
    link(rel='apple-touch-icon', href='http://7vijjg.com1.z0.glb.clouddn.com/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='http://7vijjg.com1.z0.glb.clouddn.com/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='144x144', href='http://7vijjg.com1.z0.glb.clouddn.com/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='120x120', href='http://7vijjg.com1.z0.glb.clouddn.com/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='180x180', href='http://7vijjg.com1.z0.glb.clouddn.com/apple-icon-180x180.png')
    link(rel='stylesheet', href='http://7vijjg.com1.z0.glb.clouddn.com/style.min.css')
  body
    block content
